<div class="container mt-5">
  <h3>Welcome to our Ransomware Security User Assessment Platform!</h3>
  <p>
    This web page is designed to help organizations assess their security
    posture against ransomware attacks. By answering a set of yes/no questions,
    you can evaluate your organization's readiness and identify potential areas
    for improvement.
  </p>

  <p>
    The assessment platform presents a user-friendly interface that guides you
    through a series of targeted questions related to ransomware prevention and
    response. These questions cover various aspects of your security structure,
    policies, and practices. Upon completing the assessment, the platform
    generates a comprehensive risk assessment profile tailored to your
    organization's responses.
  </p>

  <p>
    The risk assessment profile provides a clear overview of the identified
    strengths, weaknesses, and potential risks related to ransomware attacks. To
    help you address any identified vulnerabilities, the platform also provides
    recommended solutions for each question. These solutions are based on
    industry best practices, guidelines, offering practical guidance to enhance
    your security posture and mitigate the risk of ransomware attacks.
  </p>

  <p>
    Our Ransomware Security User Assessment Platform empowers organizations to
    proactively evaluate their security measures, identify areas of improvement,
    and take necessary steps to enhance their resilience against ransomware
    attacks. By leveraging this platform, you can strengthen your security
    posture and better protect your critical assets and sensitive data from the
    growing threat of ransomware.
  </p>

  <p>To get started, click the "Start Assessment" button below.</p>

  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button type="button" class="btn btn-lg" routerLink="/assessment">
          Start Assessment
        </button>
      </div>
    </div>
  </div>
</div>
